<!doctype html>
<html ng-app="GREApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GRE 模考题录入系统</title>
    <meta name="description" content="GRE 模考题录入系统">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <link rel="stylesheet" href="public/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/css/app.css">

  </head>
  <body ng-controller="AppController">

    <div id="navbar">
      <div class="list-group">
        <a class="list-group-item" ng-repeat="problemItem in problem.problemItems" href="#problem-item-{{$index + 1}}">Problem Item {{$index + 1}}</a>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="text-center">GRE 模考题录入系统</h1>

          <div>
            <div class="panel panel-primary">
              <div class="panel-heading">
                Problem
              </div>
              <div class="panel-body">
                <div class="form-inline">
                  <div class="form-group">
                    <label>Affiliated Exercise ID</label>
                    <input type="text" class="form-control" ng-model="problem.exerciseId">
                  </div>

                  <div class="form-group">
                    <label>Affiliated Exercise Difficulty</label>
                    <select class="form-control" ng-model="problem.exerciseDiff" ng-options="diff for diff in diffs"></select>
                  </div>

                  <div class="form-group">
                    <label>Affiliated Section ID</label>
                    <input type="text" class="form-control" ng-model="problem.sectionId">
                  </div>
                </div>
                <hr>

                <div class="form-inline">
                  <div class="form-group">
                    <label>Problem ID</label>
                    <input type="text" class="form-control" ng-model="problem.problemId">
                  </div>

                  <div class="form-group">
                    <label>Problem Difficulty</label>
                    <select class="form-control" ng-model="problem.problemDiff" ng-options="diff for diff in diffs"></select>
                  </div>

                  <div class="form-group">
                    <label>Problem Type</label>
                    <select class="form-control" ng-model="problem.type" ng-options="problemType.code as problemType.label for problemType in problemTypes"></select>
                  </div>
                </div>
                <hr>

                <div class="form-group full-width">
                  <label>Problem Instruction</label>
                  <textarea type="text" class="form-control" ng-model="problem.instruction"></textarea>
                </div>

                <div class="form-group full-width">
                  <label>Problem Description</label>
                  <textarea type="text" class="form-control" ng-model="problem.description"></textarea>
                </div>
                <hr>

                <div class="panel panel-info">
                  <div class="panel-heading">
                    <p>Number of Problem Items: [ {{problem.problemItems.length}} ]</p>
                    <div class="btn-group">
                      <button class="btn btn-info" ng-click="addProblemItem()"><span class="glyphicon glyphicon-plus"></span></button>
                      <button class="btn btn-info" ng-click="removeProblemItem()"><span class="glyphicon glyphicon-minus"></span></button>
                    </div>
                  </div>
                </div>

                <div class="panel panel-info" ng-repeat="problemItem in problem.problemItems" ng-controller="ProblemItemController">
                  <div class="panel-heading" id="problem-item-{{$index + 1}}">
                    Problem Item {{$index + 1}}
                  </div>
                  <div class="panel-body">
                    <div class="form-inline">
                      <div class="form-group">
                        <label>Problem Item ID (Global)</label>
                        <input type="text" class="form-control" ng-model="problemItem.problemItemId">
                      </div>

                      <div class="form-group">
                        <label>Type Number</label>
                        <!-- <input type="text" class="form-control" ng-model="choice.typeNumber"> -->
                        <select class="form-control" ng-model="problemItem.typeNumber" ng-options="problemItemType.code as problemItemType.label for problemItemType in problemItemTypes"></select>
                      </div>
                    </div>
                    <hr>

                    <div class="form-group full-width">
                      <label>Description Detail</label>
                      <textarea type="text" class="form-control" ng-model="problemItem.descriptionDetail"></textarea>
                    </div>
                    <hr>

                    <div class="panel panel-success">
                      <div class="panel-heading">
                        <p>Number of Choices: [ {{problemItem.choices.length}} ]</p>
                        <div class="btn-group">
                          <button class="btn btn-success" ng-click="addChoiceFor(problemItem.choices)"><span class="glyphicon glyphicon-plus"></span></button>
                          <button class="btn btn-success" ng-click="removeChoiceFor(problemItem.choices)"><span class="glyphicon glyphicon-minus"></span></button>
                        </div>
                      </div>
                    </div>

                    <div class="panel panel-success" ng-repeat="choice in problemItem.choices" ng-controller="ChoiceController">
                      <div class="panel-heading">
                        Choice {{$index + 1}}
                      </div>
                      <div class="panel-body">

                        <div class="form-group">
                          <label>Is Right Answer</label>
                          <select class="form-control" ng-model="choice.isRightAnswer" ng-options="booleanValue for booleanValue in booleanValues"></select>
                        </div>
                        <hr>

                        <div class="form-group full-width">
                          <label>Content</label>
                          <textarea type="text" class="form-control" ng-model="choice.content"></textarea>
                        </div>

                        <div class="form-inline">
                          <div class="form-group">
                            <label>Context Left</label>
                            <input type="text" class="form-control" ng-model="choice.context1">
                          </div>

                          <div class="form-group">
                            <label>Context Right</label>
                            <input type="text" class="form-control" ng-model="choice.context2">
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="panel panel-warning">
                      <div class="panel-heading">
                        <p>Number of Figures: [ {{problemItem.figures.length}} ]</p>
                        <div class="btn-group">
                          <button class="btn btn-warning" ng-click="addFigureFor(problemItem.figures)"><span class="glyphicon glyphicon-plus"></span></button>
                          <button class="btn btn-warning" ng-click="removeFigureFor(problemItem.figures)"><span class="glyphicon glyphicon-minus"></span></button>
                        </div>
                      </div>
                    </div>

                    <div class="panel panel-warning" ng-repeat="figure in problemItem.figures" ng-controller="FigureController">
                      <div class="panel-heading">
                        Figure {{$index + 1}}
                      </div>
                      <div class="panel-body">
                        <div class="form-group full-width">
                          <label>Figure Description</label>
                          <textarea type="text" class="form-control" ng-model="figure.figureDescription"></textarea>
                        </div>

                        <div class="form-group full-width">
                          <label>Upload Figure</label>
                          <input type="text" class="form-control fake-input-file" disabled ng-model="fileName"/>
                          <input type="file"
                                 class="input-file"
                                 id="upload-form-figure-{{$parent.$parent.$index}}-{{$index}}"
                                 ng-model="files"
                                 onchange="angular.element(this).scope().figureNameChanged(this)"/>
                          <button class="btn btn-default" ng-click="browseFigure()" title="Browse"><span class="glyphicon glyphicon-folder-open"></span></button>
                          <button class="btn btn-default" ng-click="uploadFigure()" ng-show="selectFileSuccess" title="Upload"><span class="glyphicon glyphicon-arrow-up"></span></button>
                          <button class="btn btn-success" ng-show="uploadSuccess" disabled><span class="glyphicon glyphicon-ok"></span></button>
                          <hr/>
                          <p ng-show="(selectFileSuccess || uploadSuccess) && !isImage"> <strong>Note:</strong> The file selected might not be an image.</p>
                          <!--<canvas id="image-canvas-figure-{{$parent.$parent.$index}}-{{$index}}" ng-show="isImage && (selectFileSuccess || uploadSuccess)"></canvas>-->
                          <img width="674" ng-src="{{fileURL}}" ng-show="isImage && (selectFileSuccess || uploadSuccess)">
                        </div>

                      </div>
                    </div>

                    <div class="panel panel-danger">
                      <div class="panel-heading">
                        Comment
                      </div>
                      <div class="panel-body">
                        <div class="form-group full-width">
                          <label>Comment Detail</label>
                          <textarea type="text" class="form-control" ng-model="problemItem.comment.commentDetail"></textarea>
                        </div>

                        <div class="form-group full-width">
                          <label>Upload Video</label>
                          <input type="text" class="form-control fake-input-file" disabled ng-model="fileName"/>
                          <input type="file"
                                 class="input-file"
                                 id="upload-form-video-{{$index}}"
                                 ng-model="files"
                                 onchange="angular.element(this).scope().videoNameChanged(this)"/>
                          <button class="btn btn-default" ng-click="browseVideo()" title="Browse"><span class="glyphicon glyphicon-folder-open"></span></button>
                          <button class="btn btn-default" ng-click="uploadVideo()" ng-show="selectFileSuccess" title="Upload"><span class="glyphicon glyphicon-arrow-up"></span></button>
                          <button class="btn btn-success" ng-show="uploadSuccess" disabled><span class="glyphicon glyphicon-ok"></span></button>

                          <hr/>
                          <p ng-show="(selectFileSuccess || uploadSuccess) && !isSupportedVideo"> <strong>Note:</strong> Format of the selected file is not supported for preview.</p>
                          <!--<div id="video-wrapper-{{$index}}" ng-show="selectFileSuccess || uploadSuccess">-->
                          <!--</div>-->
                          <video width="674" ng-src="{{fileURL}}" ng-show="isSupportedVideo && (selectFileSuccess || uploadSuccess)" controls>
                            Your browser does not support the <code>video</code> element.
                          </video>
                        </div>

                      </div>
                    </div>

                  </div>
                </div>

                <button class="btn btn-lg btn-danger btn-reset" ng-click="reset()">Reset</button>
                <button class="btn btn-lg btn-warning btn-revise" ng-click="submit(true)">Revise</button>
                <button class="btn btn-lg btn-primary btn-submit" ng-click="submit(false)">Submit</button>
              </div>
            </div>

            <!--<hr>-->
            <!--<p>TEST DATA</p>-->
            <!--<p>{{problem}}</p>-->
          </div>
          
        </div>
      </div>
    </div>


    <script src="public/js/lib/jquery.min.js"></script>
    <script src="public/js/lib/angular.min.js"></script>
    <script src="public/js/lib/bootstrap.min.js"></script>
    <script src="public/js/app.js"></script>
  </body>
</html>

